[Desktop Entry]
Icon=application-x-xz-compressed-tar
Name=arduino-1.6.5-r5-linux64.tar.xz
Type=Link
URL[$e]=tar:/home/multi/T%C3%A9l%C3%A9chargements/arduino-1.6.5-r5-linux64.tar.xz
X-KDE-LastOpenedWith=
