<!DOCTYPE kpartgui SYSTEM 'kpartgui.dtd'>
<gui version="1" name="kipiplugin_expoblending">
 <MenuBar>
  <Menu name="Tools">
   <text>&amp;Tools</text>
   <Action group="kipi_tool_group" name="expoblending"/>
  </Menu>
 </MenuBar>
 <ToolBar name="mainToolBar">
  <text>Main Toolbar</text>
 </ToolBar>
</gui>
