<!DOCTYPE kpartgui SYSTEM 'kpartgui.dtd'>
<gui version="1" name="kipiplugin_acquireimages">
 <MenuBar>
  <Menu name="Import">
   <text>&amp;Import</text>
   <Action group="kipi_import_group" name="acquireimages"/>
  </Menu>
 </MenuBar>
 <ToolBar name="mainToolBar">
  <text>Main Toolbar</text>
 </ToolBar>
</gui>
